<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to "edit", edit_user_registration_path %> -->
<div class="row">
  <div class="col-sm-3">
    <%= render 'header', :@user => @user %>
  </div>
  <div class="col-sm-9">
    <%= render 'about' %>
  </div>
</div>


<!-- <h1>UNDER MAINTENCE</h1> -->
