// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thead-inverse th {
  color: #fff;
  background-color: #373a3c;
}

.table{
  background-color: #ECF0F1;
}

.btn-index-skills{
  float: right !important;
}
